.glass-nav {
  background-color: transparent;
  border-radius: 30px;
  margin: 5px 50px;
  position: fixed;
  padding: 5px;
  z-index: 10;
  width: calc(100% - 100px);
  border: 1px solid var(--gray-300);
  backdrop-filter: blur(20px);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav-logo {
  color: var(--primary-green);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: var(--text-dark);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  opacity: 0.4;
}

.nav-link-active {
  border-bottom: 2px solid var(--primary-green);
  color: var(--primary-green);
  opacity: 1 !important;
}

.nav-link:hover {
  color: var(--primary-green);
  opacity: 1 !important;
}
